.list-group{
  display:flex; 
  flex-direction: row;
  justify-content:space-evenly;  
}


.list-group-item { 
  padding:15px 15px;
  border-radius: 5px;
  background-color: transparent;
}

.active{
  color:#0074d9;
  background-color: transparent;
  border : 1px solid #0074d9; 
}

a  {
  color: dimgray;
  text-decoration:none;
  font-size: 0.85rem;
  text-transform: uppercase;  
  font-weight:500;
}


