h1 {
  margin-bottom: 4rem;
}

.cart {
  display: flex;
  gap: 50px;
}

.loading {
  height: 100%;
  width: 300px;
}

.cart-count {
  text-align: left;
  margin: 20px 0;
}

table {
  text-align: center;
  border: 1px solid #e9e9e9;
  padding: 29px;
  margin-bottom: 20px;
}

.thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 1px;
  background-size: cover;
}

.cart-summary {
  min-width: 350px;
  padding: 40px;
  border-radius: 3px;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
}

.cart-summary h4 {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 20px 0;
}

ul {
  display: flex;
  justify-content: space-between;
}

.cart-summary p,
li {
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px 0;
}

.cart-summary .form-control {
  outline: none;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
}

.clear-btn {
  position: absolute;
  right: 0;
  top: 0;
}
