<!-- <div class="row">
  <div class="col-3">
    <app-product-filter [category]="category"></app-product-filter>
  </div>
  <div class="col">
    <div class="row">
      <ng-container *ngFor="let product of filteredProducts; let i = index">
        <div class="col">
          <app-product-card
            [product]="product"
            [showActions]="true"
            [shoppingCart]="cart"
          ></app-product-card>
        </div>
        <div *ngIf="(i + 1) % 2 == 0" class="w-100"></div>
      </ng-container>
    </div>
  </div>
</div> -->

<section id="hero-section">
  <div class="hero-header">
    <h1 class="hero-title">
      An exciting place <br />
      <span>For electronics passionate</span>
    </h1>
    <p class="hero-body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius vitae
      provident quasi qui deleniti, tenetur.
    </p>
  </div>
  <div class="hero-thumbnail">
    <img
      src="https://www.mynxg.com/images/homepage/header.png"
      alt="electronic device image"
    />
  </div>
</section>
