.dropdown-toggle {
  cursor: pointer;
}


svg {
  height:20px;
  width:20px;
  display: inline-block;
}

.nav-link {
  display: inline-block;
}

.nav-item {
  display: inline-block;
}

.cart-link{
  display: flex;
  flex-direction : row;
}