<header>          
  <input type="checkbox" class="toggler">
  <div class="hamburger show-mobile hide-desktop">                
      <div></div>
  </div>   
  <nav>     
    <div class="logo">Logo</div>                            
      <ul class="menu-links">    
        <li><a href='#' data-item='Home'>Home</a></li>
        <li><a href='#' data-item='About'>About</a></li>
        <li><a href='#' data-item='Products'>Products</a></li>
        <li><a href='#' data-item='Blog'>Blog</a></li>
        <li><a href='#' data-item='Contact'>Contact</a></li>
      </ul>
      <ul class="menu-actions">
        <li><img class="menu-icon" src="../../../../assets/Icons/search.svg" alt="" srcset=""></li>    
        <li><img class="menu-icon" src="../../../../assets/Icons/cart.svg" alt="" srcset=""></li>    
        <li><img class="menu-icon" src="../../../../assets/Icons/person.svg" alt="" srcset="">
          <ul>
            <li><a href="#">Orders</a></li>
            <li><a href="#">Profile</a></li>
         </ul></li>    
      </ul>          
  </nav>    
</header>                    