a {
  text-decoration: none;
  color: #333 !important;
}

.menu-icon {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

header {
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px;
  z-index: 2;
  position: relative;
}

nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #e9e9e9;
  transform: translateY(-100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

nav ul {
  margin: 20px 0px;
}

.hamburger {
  width: 50px;
  margin-left: 20px;
  cursor: pointer;
  transition: all 400ms ease-in;
}

.hamburger div {
  height: 5px;
  width: 100%;
  background-color: dimgray;
  transition: all 0.3s ease-in-out;
  z-index: 3;
  position: relative;
}

.hamburger div:after {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: dimgray;
  transition: all 0.15s ease-in-out;
}

.hamburger div:before {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: dimgray;
  transition: all 0.15s ease-in-out;
}

.hamburger div:before {
  transform: translateY(-16px);
}

.hamburger div:after {
  transform: translateY(16px);
}

.toggler {
  position: absolute;
  background-color: aqua;
  left: 40px;
  top: 40px;
  transform: translate(20px, -20px);
  width: 50px;
  height: 50px;
  z-index: 4;
  opacity: 0;
  cursor: pointer;
}

.toggler:checked + .hamburger div {
  background: transparent;
  box-shadow: none;
}

.toggler:checked + .hamburger div:before {
  transform: rotate(45deg);
}

.toggler:checked + .hamburger div:after {
  transform: rotate(-45deg);
}

.toggler:checked ~ nav {
  transform: translate(0);
}

.toggler ~ nav {
  transition: all 600ms ease-in-out;
}

/* Hover */
.toggler:checked:hover + .hamburger div {
  transform: rotate(90deg);
}

.toggler:checked:hover + .hamburger div:before {
  transform: rotate(45deg);
}

.toggler:checked:hover + .hamburger div:after {
  transform: rotate(-45deg);
}

.toggler:hover .hamburger {
  opacity: 70%;
}

.toggler:hover + .hamburger div:before {
  transform: translateY(-22px);
}

.toggler:hover + .hamburger div:after {
  transform: translateY(22px);
}

.fade {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    transform: none;
    position: relative;
  }

  nav ul {
    margin: 0px;
  }

  nav li {
    position: relative;
    margin-left: 20px;
    display: inline;
  }

  nav li ul {
    background-color: #e9e9e9;
    display: none;
    position: absolute;
    width: 100px;
    left: 0;
    top: 100%;
    margin: 0;
    padding: 0;
  }

  nav li ul li {
    margin: 5px 0;
    display: block;
    transition: all 0.4ms ease-in-out;
  }

  nav li ul li:hover {
    background-color: #6e6e6e;
  }

  nav li:hover > ul {
    display: block;
  }
}
